<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="auth-page">
<a class="back-link" th:href="@{/}">Retour accueil</a>
<div class="auth-overlay">
    <div class="auth-card">
        <h1>Connexion</h1>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">Se connecter</button>
        </form>

        <p class="auth-link">
            Nouveau ici ?
            <a th:href="@{/register}">Créer un compte</a>
        </p>
    </div>
</div>
</body>
</html>